/*Fuentes*/
@font-face {
  font-family: "starjedi";
  src: url(../assets/fonts/star_jedi/starjedi/Starjedi.ttf);
}
@font-face {
  font-family: "starjedihol";
  src: url(../assets/fonts/star_jedi/starjedi/Starjhol.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}
/*Fondo para toda la pagina*/
body {
  background: #EEEEEE;
  /*Formato Header*/
  /*Formato elemento "cuerpo" (index y ranking)*/
  /*Formato elemento "jugadoresIndex" (index)*/
  /*Formato elementeo "contenido" (info_evento, jugadores y contacto)*/
  /*Formato Footer*/
  /*Formato formularios y botones*/
}
body header {
  background: #e590b7;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px;
  align-items: center;
}
body header img {
  height: 150px;
  width: 150px;
  grid-column: 2/3;
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 1s;
}
body header i {
  grid-template-columns: 12;
  align-self: center;
  justify-content: center;
  display: flex;
}
body header i img {
  width: 20px;
  height: 20px;
  display: none;
  animation: none;
}
@media screen and (max-width: 1341px) {
  body header i img {
    display: inline-block;
  }
}
body header nav {
  grid-column: 3/12;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: starjedi;
  text-decoration: none;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 1341px) {
  body header nav ul {
    display: none;
  }
}
body header nav ul li {
  display: inline-block;
  justify-content: space-around;
  margin: 20px;
}
body header nav ul li:hover {
  animation: text-pop-up-top;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
body header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #1A1A40;
}
body h1 {
  font-family: starjedihol;
  color: gold;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 45px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1130px) {
  body h1 {
    display: block;
    text-align: center;
  }
}
body h1 p {
  font-family: starjedihol;
  color: gold;
  font-size: 45px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
body h1 form {
  font-family: roboto;
  font-size: 22px;
  color: whitesmoke;
  font-weight: 500;
  display: flex;
  align-items: center;
}
body p {
  font-family: roboto;
  font-size: 22px;
  padding: 2%;
  color: #1A1A40;
  font-weight: 500;
}
body .cuerpo {
  background-image: url(../assets/background/darth_background4.jpg);
  background-size: 25%;
  background-position-x: center;
  background-position-y: center;
  font-family: roboto;
  display: flex;
  padding: 1%;
  text-align: center;
  justify-content: space-around;
  font-size: 22px;
  color: #1A1A40;
}
@media screen and (max-width: 1130px) {
  body .cuerpo {
    display: block;
  }
}
body .cuerpo .cuerpo__principal {
  background-color: #EEEEEE;
  display: block;
  text-align: left;
  border: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  padding: 3%;
  margin: 5%;
}
body .cuerpo .cuerpo__partidos ol li {
  font-weight: 500;
}
body .cuerpo .cuerpo__aside {
  background-color: #EEEEEE;
  display: block;
  text-align: left;
  border: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  margin: 5%;
  padding: 5%;
}
body .cuerpo .cuerpo__aside h2 {
  font-size: 30px;
}
body .cuerpo .cuerpo__aside ol li {
  font-weight: 500;
}
body .cuerpo .cuerpo__jugador {
  background-color: #EEEEEE;
  display: block;
  border: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  padding: 3%;
  margin: 5%;
}
body .cuerpo .cuerpo__jugador .cuerpo__jugador__info {
  background-color: #EEEEEE;
  display: flex;
  text-align: left;
}
body .cuerpo .cuerpo__jugador .cuerpo__jugador__info .cuerpo__jugador__info__img {
  margin: 5%;
}
body .cuerpo .cuerpo__jugador .cuerpo__jugador__info .cuerpo__jugador__info__txt {
  margin: 5%;
}
body .cuerpo .cuerpo__jugador .cuerpo__jugador__caracteristicas {
  background-color: #EEEEEE;
  text-align: left;
  margin: 5%;
}
body .jugadoresIndex {
  background-color: #3F3351;
  text-align: center;
  justify-content: space-around;
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 1130px) {
  body .jugadoresIndex {
    flex-wrap: wrap;
    margin-top: 100px;
  }
}
body .jugadoresIndex .jugadoresIndex__fotoYNombre {
  display: inline-block;
  opacity: unset;
}
body .jugadoresIndex .jugadoresIndex__fotoYNombre .jugadoresIndex__fotoYNombre__foto {
  width: 200px;
  height: 200px;
  display: block;
  padding: 20% 40px 5% 40px;
}
body .jugadoresIndex .jugadoresIndex__fotoYNombre .jugadoresIndex__fotoYNombre__descripcion {
  font-family: roboto;
  padding: 0px 50px 0px 50px;
  display: inline;
  color: whitesmoke;
  font-weight: 500;
}
body .contenido {
  background-image: url(../assets/background/darth_background4.jpg);
  background-size: 25%;
  background-position-x: center;
  background-position-y: center;
  font-family: roboto;
  padding: 1%;
  font-size: 22px;
  color: #1A1A40;
}
body .contenido .contenido__media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
body .contenido .contenido__media .contenido__media__img {
  width: 30%;
}
body .contenido .contenido__media .contenido__media__video {
  width: 560px;
  height: 315px;
  text-align: center;
}
body .contenido .contenido__texto {
  background-color: #EEEEEE;
  display: block;
  border: 8px;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  margin: 5%;
}
body .contenido .contenido__texto p {
  margin: auto;
  padding: auto;
}
body .contenido .contenido__imagenes {
  background-color: #EEEEEE;
  padding: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 8px;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
}
@media screen and (max-width: 1341px) {
  body .contenido .contenido__imagenes {
    flex-wrap: wrap;
  }
}
body .contenido .contenido__imagenes .contenido__imagenes__elemento {
  display: block;
  margin: 20px;
  width: fit-content;
  text-align: center;
}
body .contenido .contenido__liga {
  background-color: #EEEEEE;
  display: flex;
  margin: 20px;
  width: 80%;
  text-align: center;
  justify-content: space-around;
  border: 8px;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  padding: 5%;
  margin: 5%;
}
body .contenido .contenido__formulario {
  background-color: #EEEEEE;
  display: block;
  padding: 5%;
  border: 8px;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(45deg, #e590b7, #3F3351) 1;
  margin: 5%;
}
body .contenido .contenido__formulario .contenido__formulario__elemento {
  margin: 5%;
  text-align: center;
}
body footer {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-family: roboto;
  margin-top: 100px;
  font-weight: 500;
  align-content: center;
}
@media screen and (max-width: 1130px) {
  body footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }
}
body footer .footer__texto {
  width: 500px;
  padding: 30px;
}
@media screen and (max-width: 1130px) {
  body footer .footer__texto {
    width: auto;
  }
}
body footer .footer__links {
  font-display: inline-block;
  padding: 30px 50px 50px 350px;
}
@media screen and (max-width: 1130px) {
  body footer .footer__links {
    padding: 0px;
    font-display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
}
body footer .footer__links .footer__links_img {
  padding: 30px;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 1130px) {
  body footer .footer__links .footer__links_img {
    padding: 15px;
    height: 50px;
    width: 50px;
  }
}
body .boton {
  background-color: rgba(255, 255, 255, 0.699);
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto";
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: 100px;
}
body .texto {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto";
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: auto;
}
body .texto--contacto {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto";
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: 500px;
}
@media screen and (max-width: 1130px) {
  body .texto--contacto {
    width: auto;
  }
}
@keyframes rotar_logo {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(90deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(0deg);
  }
  100% {
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
