/*Fuentes*/
@font-face {
    font-family: 'starjedi';
    src: url(../assets/fonts/star_jedi/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: 'starjedihol';
    src: url(../assets/fonts/star_jedi/starjedi/Starjhol.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

/*Fondo para toda la pagina*/
body {
    background: #EEEEEE;
}

/*Formato Header*/

header {
    background: #e590b7;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

header img {
    height: 150px;
    width: 150px;
    grid-column: 2/3;
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes rotar_logo {
    0%{
        transform: rotateY(0deg);
    }

    20%{
        transform: rotateY(90deg);
    }

    40%{
        transform: rotateY(0deg);
    }
    60%{
        transform: rotateY(90deg);
    }
    80%{
        transform: rotateY(0deg);
    }
    100%{
        transform: none;
    }
}


header nav {
    grid-column: 3/12;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: starjedi;
    text-decoration: none;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

header nav ul li{
    display: inline-block;
    justify-content: space-around;
}

.letra{
    text-decoration: none;
    font-size: 20px;
    color: #1A1A40; !important

}

.barra_nav{
    background: #e590b7; !important
}

header nav ul li:hover {
	animation: text-pop-up-top;
    animation-duration: 1s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
        text-shadow: 0 1px 0 #b87594, 0 2px 0 #b87594, 0 3px 0 #b87594, 0 4px 0 #b87594, 0 5px 0 #b87594, 0 6px 0 #b87594, 0 7px 0 #b87594, 0 8px 0 #b87594, 0 9px 0 #b87594, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: translateY(-20px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #b87594, 0 2px 0 #b87594, 0 3px 0 #b87594, 0 4px 0 #b87594, 0 5px 0 #b87594, 0 6px 0 #b87594, 0 7px 0 #b87594, 0 8px 0 #b87594, 0 9px 0 #b87594, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}


header i { 
    grid-template-columns: 12;
    align-self: center;
    justify-content: center;
    display: flex;
}

header i img{ 
    width: 20px;
    height: 20px;
    display: none;
    animation: none;
}

/*Elementos en general*/

h1 {
    
    font-family: starjedihol;
    color: gold;
    background-color: rgb(0, 0,0,0.80);
    padding: 30px;
    font-size: 45px;
    display: flex;
    justify-content: space-around;
}

h1 p {
    
    font-family: starjedihol;
    color: gold;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

h1 form{

    font-family: roboto;
    font-size: 22px;
    color: whitesmoke;
    font-weight: 500;
    display: flex;
    align-items: center;

}

p {
    font-family: roboto;
    font-size: 22px;
    padding: 2%;
    color: #1A1A40;
    font-weight: 500;
}

/*Formato elemento "cuerpo" (index y ranking)*/

.cuerpo {
    background-image: url(../assets/background/darth_background4.jpg);
    background-size: 25%;
    background-position-x: center;
    background-position-y: center;
    font-family: roboto;
    display: flex;
    padding: 1%;
    text-align: center;
    justify-content: space-around;
    font-size: 22px;
    color: #1A1A40;
}

.cuerpo__principal {
    background-color: #EEEEEE;
    display: block;
    text-align: left;

    border: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;

    padding: 3%;
    margin: 5%
}


.cuerpo__partidos ol li{
    font-weight: 500;
}


.cuerpo__aside {
    background-color: #EEEEEE;
    display: block;
    text-align: left;

    border: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;

    margin: 5%;
    padding: 5%;
}

.cuerpo__aside h2 { 
    font-size: 30px;

}

.cuerpo__partidos ol li{
    font-weight: 500;
}


.cuerpo__jugador{
    background-color: #EEEEEE;
    display: block;

    border: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;

    padding: 3%;
    margin: 5%
}

.cuerpo__jugador__info{
    background-color: #EEEEEE;
    display: flex;
    text-align: left;
}
.cuerpo__jugador__info__img {

    margin: 5%
}
.cuerpo__jugador__info__txt {
    margin: 5%
}

.cuerpo__jugador__caracteristicas{
    background-color: #EEEEEE;
    text-align: left;
    margin: 5%
}

/*Formato elemento "jugadoresIndex" (index)*/

.jugadoresIndex {
    background-color: #3F3351;
    text-align: center;
    justify-content:space-around;
    display: flex;
    margin-top: 100px;

}

.jugadoresIndex__fotoYNombre {
    display: block;
    opacity:unset;
}

.jugadoresIndex__fotoYNombre__foto {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.jugadoresIndex__fotoYNombre__descripcion {
    font-family: roboto;
    padding: 0px 50px 0px 50px;
    display: inline;
    color: whitesmoke;
    font-weight: 500;
}


.slide {
    height: 250px;
}


/*Formato elementeo "contenido" (info_evento, jugadores y contacto)*/

.contenido {
    background-image: url(../assets/background/darth_background4.jpg);
    background-size: 25%;
    background-position-x: center;
    background-position-y: center;
    font-family: roboto;
    padding: 1%;
    font-size: 22px;
    color: #1A1A40;
}
.contenido__media {

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 5%;

}

.contenido__media__img {
    width: 30%;

}

.contenido__media__video {
    width: 560px;
    height: 315px; 
    text-align: center;
}


.contenido__texto {
    background-color: #EEEEEE;
    display: block;
    padding: 5%;
    border: 8px;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;
    margin: 5%
}

.contenido__imagenes {
    background-color: #EEEEEE;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 8px;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;
}

.contenido__imagenes__elemento {
    display: block;
    margin: 20px;
    width:fit-content;
    text-align: center;
}


.contenido__liga {
    background-color: #EEEEEE;
    display: flex;
    margin: 20px;
    width: 80%;
    text-align: center;
    justify-content: space-around;

    
    border: 8px;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;

    padding: 5%;
    margin: 5%
}

.contenido__formulario {
    background-color: #EEEEEE;
    display: block;
    padding: 5%;
    border: 8px;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(45deg,#e590b7, #3F3351 ) 1;
    margin: 5%
}


.contenido__formulario__elemento {
    margin: 5%;
    text-align: center;

}



/*Formato formularios y botones*/
.boton { 
    background-color: rgba(255, 255, 255, 0.699);
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "roboto";
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 100px;
}

.texto {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "roboto";
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: auto;
}

.texto--contacto {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "roboto";
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 500px;
}


/*Formato Footer*/

footer {
    color: whitesmoke;
    background-color: rgb(0, 0,0,0.8);
    display: flex;
    font-family: roboto;
    margin-top: 100px;
    font-weight: 500;
    align-content: center;
}

.footer__texto {
    width: 50%;
    padding: 30px;
    margin: auto;
}

.footer__links {
    width: 50%;
    font-display: inline-block;
    margin: auto;
}

.footer__links_img {
    height: 50px;
    margin: 10px;
}


/*Mediaqueries*/

@media screen and (max-width: 1557px){

    .letra{
        font-size: 20px;
    }
    
}


@media screen and (max-width: 1240px){
/*
    header i img{ 
        display:inline-block;
    }
*/
    .contenido__imagenes {
        flex-wrap: wrap;
    }
    
}



@media screen and (max-width: 1130px){
    h1{
    display: block;
    text-align: center;
    }
    
    .cuerpo{
        display: block;
    }
    .jugadoresIndex {
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .texto--contacto {
        width: auto;
    }
    
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

    .footer__texto {
        width: auto;
    }

    .footer__links {
        padding: 0px;
        font-display: flex; 
        flex-wrap: wrap;   
        justify-content: space-around;
        align-content: space-around;
    }

    .footer__links_img {
        padding: 15px;
        height: 50px;
        width: 50px;
    }

}

