$color-fondo: #EEEEEE;
$color-elementos-principal: #e590b7;
$color-elementos-secundario: #3F3351;
$color-fuentes-titulos: gold;
$color-fuentes-elementos-1: whitesmoke;
$color-fuentes-elementos-2: #1A1A40;
$color-fuentes-elementos-3: #0f1111;
$color-fuentes-elementos-4: #d5d9d9;
$color-fuentes-elementos-5: #fff;
$color-fuentes-elementos-6: rgba(255, 255, 255, 0.699);
$color-fuentes-elementos-7: rgba(213, 217, 217, .5) 0 2px 5px 0;